@model List<GroundBNB.Models.SiteViews>
<script src="https://d3js.org/d3.v4.js"></script>
<div class="row">
    <div class="col">
        <div class="row">
            <h1>Site Statistics</h1>
        </div>
        <div class="row">
            <div id="my_dataviz"></div>
        </div>
        <script>

      (function () {
        var mainData = @Html.Raw(JsonSerializer.Serialize(Model));
        var data = [
          ...mainData.map(x => ({ ...x, Date: x.Date.split("T")[0] }))
        ];

        var maxY = Math.max(...data.map(d => d.Views));

        // set the dimensions and margins of the graph
        var margin = { top: 30, right: 30, bottom: 70, left: 60 },
          width = 720 - margin.left - margin.right,
          height = 450 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        var svg = d3.select("#my_dataviz")
          .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

        // X axis
        var x = d3.scaleBand()
          .range([0, width])
          .domain(data.map(function (d) { return d.Date; }))
          .padding(0.2);
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x))
          .selectAll("text")
          .attr("transform", "translate(-10,0)rotate(-45)")
          .style("text-anchor", "end");

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, maxY * 1.5])
          .range([height, 0]);
        svg.append("g")
          .call(d3.axisLeft(y));

        // Bars
        svg.selectAll("mybar")
          .data(data)
          .enter()
          .append("rect")
          .attr("x", function (d) { return x(d.Date); })
          .attr("y", function (d) { return y(d.Views); })
          .attr("width", x.bandwidth())
          .attr("height", function (d) { return height - y(d.Views); })
          .attr("fill", "#dd0a35")


      })();
        </script>
    </div>
</div>
